* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(240, 240, 240);
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #444654;
    overflow: hidden;
}

.top-nav {
    width: 100vw;
    padding: 5vh;
    background-color: #343541;

    display: flex;
    align-items: center;
}
.top-nav-text {
    font-size: large;
    font-weight: bold;

    margin-left: 15.5vw;
}