* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --box-outer-background-light: rgb(255, 248, 215);
    --box-outer-background-light-1: rgb(255, 250, 224);
    --box-outer-background-light-2: rgb(255, 248, 212);
    
    --box-outer-background-dark: #21263A;
    --box-outer-background-dark-1: #1D2133;
    --box-outer-background-dark-2: #252b41;
    
    --box-outer-color-light: rgb(255, 248, 212);
    --box-outer-color-dark: rgb(37, 43, 65);
}

body {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    background-color: var(--box-outer-background-dark);

    transition: 0.2s;
}


.box-outer {
    width: 100vw;
    min-height: 25vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    cursor: pointer;
    filter: opacity(15%);
    
    color: var(--box-outer-color-light);

    transition: 0.2s;
}

.box-title {
    min-height: 25vh;
    font-size: 7vh;
    letter-spacing: -3px;

    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-icon {
    font-size: 4vh;

    margin-right: 2vh;
    translate: 5vw;
    opacity: 0;

    transition: 0.4s;
}
.box-arrow {
    font-size: 4vh;

    margin-left: 2vh;
    translate: -5vw;
    opacity: 0;

    transition: 0.4s;
}

.box-outer:hover .box-icon, .box-outer:hover .box-arrow, .menu-hover .box-icon, .menu-hover .box-arrow {
    opacity: 1;
    translate: 0;
}
.menu-hover .box-arrow {
    rotate: 90deg;
}
.box-outer:hover .box-title, .menu-hover .box-title {
    font-size: 6.5vh;
    letter-spacing: 3px;
}
.box-outer:hover, .menu-hover {
    filter: opacity(1);
    height: 30vh;
}


/* MENU */

.menu {
    width: 100vw;
    height: 8vh;
    
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    cursor: pointer;
    filter: opacity(50%);
    
    color: var(--box-outer-color-light);

    transition: 0.2s;
    translate: -100%;

}
.menu:nth-child(odd):not([style*="display: none"]) { background-color: var(--box-outer-background-dark-1); }
.menu:nth-child(even):not([style*="display: none"]) { background-color: var(--box-outer-background-dark-2); }

.menu-title {
    font-size: 2.8vh;
    letter-spacing: 1px;

    transition: 0.2s;
}

.menu-icon {
    font-size: 2.8vh;

    margin-right: 2vh;
    translate: 5vw;
    opacity: 0;

    transition: 0.4s;
}
.menu-arrow {
    font-size: 2.5vh;

    margin-left: 2vh;
    translate: -5vw;
    opacity: 0;

    transition: 0.4s;
    color: inherit
}

.menu:hover .menu-icon, .menu:hover .menu-arrow, .menu-hover .menu-icon, .menu-hover .menu-arrow {
    opacity: 1;
    translate: 0;
}
.menu-hover .menu-arrow {
    rotate: 90deg;
}
.menu-hover-no-tilt .menu-arrow {
    rotate: 0deg;
}
.menu:hover .menu-title, .menu-hover .menu-title {
    font-size: 3.5vh;
    letter-spacing: 3px;
}
.menu:hover, .menu-hover {
    filter: opacity(1);
    height: 10vh;
}

.menu-item[menu-id="1"]:last-child,
.menu-item[menu-id="2"]:last-child,
.menu-item[menu-id="3"]:last-child {
    padding-bottom: 10px; /* Adjust the padding as needed */
}

.inverted {
    filter: invert(100%);
}

.box-title-invert, .box-arrow-invert {
    filter: invert(65%) !important; /* Reset inversion for .box-outer elements */
}
.box-icon-invert {
    filter: invert(100%)
}

.opacity {
    opacity: 100% !important;
    filter: opacity(100%) !important;
}



.invert-button {
    width: 6vh;
    aspect-ratio: 1/1;

    top: 1.5vh;
    right: 1.5vh;

    cursor: pointer;
    margin-left: 10%;
}

.top-bar {
    width: 100vw;
    height: 10vh;

    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.search-bar {
    width: 60%;

    height: 40%;
    border: 3px solid #b4f5f2;
    background-color: #3c3f4957;
    border-radius: 500px;

    padding: 10px;
    color: antiquewhite;
    font-weight: bold;

    box-shadow: 0px 0px 5px #b4f5f2;
    transition: 0.5s;

    opacity: 80%;
}
.search-bar:focus {
    box-shadow: 0px 0px 2.5vh #b4f5f2d7 !important;
    border-color: #b4f5f2c2;
    outline: none
}
.search-bar:hover {
    box-shadow: 0px 0px 1.5vh #b4f5f2d7;
}

.menu-search {
    outline: 2px white solid;
}










/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #b8b9c3 rgba(255, 255, 255, 0.2);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #b8b9c3;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.2);
  }