* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: #b8b9c3;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.2);
}
*::-webkit-scrollbar-track {
    background: transparent;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-image: linear-gradient(90deg, #101621 25%, #0e131a 25%, #0e131a 50%, #101621 50%, #101621 75%, #0e131a 75%, #0e131a 100%);
    background-size: 60px 60px;
}

.image {
    height: 60%;
    aspect-ratio: 4/3;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 5px;
    box-shadow: 0 0 16px 0 rgba(250, 235, 215, 0.6);
}
@media screen and (orientation: portrait) {
    .image { width: 80% }
}


.skip {
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #0e131a;
    border: none;
    box-shadow: 0 0 5px 0 rgba(250, 235, 215, 0.4);

    cursor: pointer;
    transition: 0.1s;
}
.skip:hover {
    translate: 0 -2px
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-input {
  padding: 8px;
  color: antiquewhite;
  background-color: transparent;
  border: 1px solid antiquewhite;
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #101621;
  box-shadow: 0 8px 16px 0 rgba(250, 235, 215, 0.4);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
  border-radius: 5px;
  color: antiquewhite;
  font-weight: bold;
}
.dropdown-content a {
  padding: 8px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.timer, .points {
    color: antiquewhite;
    font-weight: bold;
    font-size: x-large;
}