.box-upper {
    height: 60%;
}
.box-lower {
    height: 40%;
}
.box-lower, .box-upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.question {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(50, 50, 50)
}

.generate {
    padding: 1vh;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 10px rgb(1, 28, 78);
    transition: 0.2s;
    cursor: pointer;
    font-weight: bold;
    color: rgb(50, 50, 50)
}
.generate:hover {
    box-shadow: 0px 0px 20px rgb(1, 28, 78);
    padding-left: 1.5vh;
    padding-right: 1.5vh;
}